body{
    background: url("http://www.hdwallpaper.nu/wp-content/uploads/2015/02/Houten-achtergronden-houten-wallpapers-hd-hout-wallpaper-afbeelding-3.jpg");

}

.header{
text-align: center;
color: white;
}

.headtext{
    font-size: 32px;
    font-family: sans-serif;
}

.Luke{
float: left;
/* border: 1px solid red; */
}

/*profielsfoto van Luke*/
.LukeProfile{ 
    border-radius: 5%;
    width:90%;
    height: 75%; 
}
/*SML staat voor Social Media Links*/
.SML1{
    position: absolute;
    left: 20px;
    top: 150px;
}

.SML2{
    position: absolute;
    right: 25px;
    top: 1650px;

}

.Benton{
float: right;
/* border: 1px solid red; */
}

/*profielsfoto van Benton*/
.BentonProfile{
margin-top: -5%;
border-radius: 5%;
height: 900px;
width: 100%;
}

.infoLuke{
    background-color: white;
    border: 2px solid black;
    width: 40%;
    height: 300px;
    margin: 100px 900px;
    border-radius: 50px; /*curves in de tekstbalken zetten*/
    box-shadow: 5px 5px 18px rgb(134, 3, 3); /* kleurgeving schaduw van de box incl. blur*/
    
}

.infoBen10{
    background-color: white;
    border: 2px solid black;
    width: 40%;
    height: 300px;
    border-radius: 50px;
    margin: 900px 0px 0px 90px;
    box-shadow: 5px 5px 18px blue;
}

.correction{
    text-align: center;
}

